{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'review/styles.css' %}" />
    </head>
    <body>
    <nav> <h1>LITReview</h1>
    {% if user.is_authenticated %}
        <div id="navigation">
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'mypost' %}">Posts</a>
            <a href="{% url 'abo' %}">Abonnements</a>
            <a href="{% url 'logout' %}">{{ user.username }} : Déconnexion</a>
        </div>
    {% endif %}
    </nav>
    <div id="main">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>