{% extends 'base.html' %}
{% block content %}
<h2>Suivre d'autre utilisateur</h2>
<h4>{{ message }}</h4>
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.followed_user }}
    </div>
    <input type="submit" value="Envoyer">
</form>

<h2>Abonnements</h2>
<table class="abo">
    {% for sub in subscription %}
    <tr>
        <td class="name">{{sub.followed_user}}</td>
        <td class="button">
            <a href="{% url 'unsub' sub.id %}">
                <button>Désabonner</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Abonnés</h2>
<table class="follow">
        {% for subc in subscriber %}
    <tr>
        <td class="name">{{subc.user}}</td>
    </tr>
        {% endfor %}

</table>
{% endblock content %}