{% extends 'base.html' %}
{% block content %}
<h1>Mon flux</h1>

<!-- Bouton de creation review/ticket vierge -->
<a href="{% url 'ticket-create' %}">
    <button>Demander une critique</button>
</a>
<a href="{% url 'review-create' %}">
    <button>Créer une critique</button>
</a>

<ul>
    <!-- Liste des tickets/review récupéré dans views.py -->
    {% for post in page_obj %}
        {% if post.content_type == 'TICKET' %}
            {% include 'ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'review_snippet.html' %}
        {% endif %}
    {% endfor %}
</ul>
<div id="page">
    {% if page_obj.has_previous %}
    <a href="?page=1"><button>1</button></a>
    <a href="?page={{ page_obj.previous_page_number }}"><button><</button></a>
    {% endif %}
    <span> {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"><button>></button></a>
    <a href="?page={{ page_obj.paginator.num_pages }}"><button>{{ page_obj.paginator.num_pages }}</button></a>
    {% endif %}
</div>
{% endblock content %}