{% extends 'base.html' %}
{% block content %}

<div class="left">

    <!-- Bouton d'accès page d'inscription -->
    <h3>Inscrivez-vous maintenant</h3>
    <a href="{% url 'signup' %}"><button>S'inscrire</button></a>

</div>

<!-- div de style -->
<div class="barre"></div>

<div class="right">
    <!-- Formulaire de connexion user -->
    <h3>Connectez-vous</h3>
    {{ message }}
    <form method="post">
        <div class="form-group">
        {{ form.username }}
        </div>
        <div class="form-group">
        {{ form.password }}
        </div>
        {% csrf_token %}
        <button type="submit" >Se connecter</button>
    </form>

</div>

{% endblock content %}