{% load review_tags %}
<div class="review">

        <!-- Affichage d'une review -->
        <time>{{ post.time_created }}</time>
        <p id="user">
        {% if post.user.username == user.username %}
                Vous avez publié une critique
        {% else %}
                {{ post.user }} a publié une critique
        {% endif %}
        </p>
        <p id="headline" >{{ post.headline }} -
                {% if post.rating == 1 %}
                ★
                {% elif post.rating == 2 %}
                ★★
                {% elif post.rating == 3 %}
                ★★★
                {% elif post.rating == 4 %}
                ★★★★
                {% elif post.rating == 5 %}
                ★★★★★
                {% endif %}</p>
        <p id="body">{{ post.body }}</p>

        <!-- Si ticket lié à la review, affichage du ticket -->
        {% if post.ticket %}
                <div class="review_include_ticket">
                {% include 'ticket_snippet.html' with post=post.ticket %}
                </div>
        {% endif %}
</div>