/* General */

body{
    font-family: Verdana, "Arial",  sans-serif;
}

button{
    border-radius: 8px;
    padding: 14px 40px;
    background-color: white;
    color: black;
    border: 5px solid #4CAF50; /* Green */
    font-size:17px;
    margin: 5px;
    transition-duration: 0.3s;
}

button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

button a{
    text-decoration: none;
    margin: 5px
}
#page button{
    padding: 5px 20px;
}

/* Menu navigation */

nav{
    height: auto;
    border: 3px solid black;
}
nav div{
    text-align: right;
}
nav h1{
    text-align: center;
}
nav #logo{
    width: 30px;
    position: static;
}

#navigation{
    margin: 10px;
}
#navigation a{
    text-decoration: none;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: #4CAF50;
    margin: 5px;
    color: white;
    transition-duration: 0.3s;
}
#navigation a:hover{
    
    color: black;
}


/* Contenu principal */

#main{
    border: 3px solid black;
    text-align: center;
    padding: 20px;
}
.right, .left{
    text-align: center;
    padding: 4%;
}
.barre{
    border: 3px solid black;
    width: 30%;
    text-align: center;
    margin: auto;
}

.ticket_in_review{
    border: 5px solid #000000A6;
    border-radius: 10px;
    padding: 10px;
    background-color: #EDEDED;
    text-align: center;
}
.ticket{
    border: 5px solid #000000A6;
    margin:30px;
    padding: 20px 0px 10px 50px;
    background-color: #EDEDED;
    text-align: left;
}
.ticket #user{
    padding: 4px 10px 4px 15px;
    font-size: 13px;
}
.ticket #titre{
    padding: 4px 0px 4px 15px;
    font-size: 18px;
    font-weight: bold;
}
.ticket #description{
    padding: 4px 0px 4px 15px;
    font-size: 14px;
    font-weight: normal;    
}
.ticket img{
    border: 5px solid;
    border-radius: 6px;
}
.ticket time{
    float: right;
    font-size: 10px;
    font-style: italic;
    padding: 15px;
}

.review{
    border: 5px solid #000000A6;
    margin:30px;
    background-color: #D6D6D6;
    text-align: left;
}

.review time{
    float: right;
    font-size: 10px;
    font-style: italic;
    padding: 15px;
}
.review #user{
    padding: 4px 10px 4px 15px;
    font-size: 13px;
}
.review #headline{
    padding: 4px 0px 4px 15px;
    font-size: 18px;
    font-weight: bold;
}
.review #body{
    padding: 4px 0px 4px 15px;
    font-size: 14px;
    font-weight: normal;
}

/* Page Abonnement */

.abo, .follow{
    text-align: center;
}
.abo .name,.follow .name{
    width: 40%;
}
.abo .button{
    min-width: 15%;
}
.abo tr,.follow tr{
    background-color: #ddd9cd
}

tr{
    width: 100%;
    border-collapse: collapse;
}

/* Style des formulaire */

.form-group input{
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 80%;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
}
.form-group input[type='file']{
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
}
input[type='submit']{
    border-radius: 8px;
    padding: 14px 30px;
    background-color: white;
    color: black;
    border: 5px solid #4CAF50; /* Green */
    font-size:15px;
    margin: 4px;
}
input[type='submit']:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

.form-group textarea{
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 80%;
    height: auto;
    font-size: 18px;
    border-radius: 4px;
}

.radio{
    text-align: center;
}
.radio div{
    display: inline-block;
    width: auto;
}
