body{
    font-family: Verdana, "Arial",  sans-serif;
}

nav{
    width: 100%;
    border: 3px solid black;
}

#main{
    text-align: center;
    height: auto;
    border: 3px solid black;
    padding:50px;
}

button
{border-radius: 8px;
padding: 14px 40px;
background-color: white;
color: black;
border: 5px solid #4CAF50; /* Green */
font-size:17px;
}
button:hover{
 background-color: #4CAF50; /* Green */
  color: white;}
button a{
text-decoration: none;}

.left
{float: left;
margin: 50px;}

.ticket{
border: 5px solid #000000A6;
margin:30px;
padding: 20px;
background-color: #EDEDED;
}
.review{
border: 5px solid #000000A6;
margin:30px;
background-color: #D6D6D6;
}
tr{
  width: 100%;
  border-collapse: collapse;
}